/*- style koloru-*/

:root {
  --background_color_dark: rgba(46, 47, 66, 1);
  --background_color_white: rgba(255, 255, 255, 1);
  --background_color_light_blue: rgba(244, 244, 253, 1);
  --color_light_blue: rgba(244, 244, 253, 1);
  --dark_color: rgba(46, 47, 66, 1);
  --black_color: rgba(0, 0, 0, 1);
  --white_color: rgba(255, 255, 255, 1);
  --purple_color: rgba(77, 90, 229, 1);
  --light_gray_color: rgba(67, 68, 85, 1);
  --border_color: rgb(231 233 252);
  --our_clients_color: rgb(142 143 153);
  --background_buttons: #f4f4fd;
  --buttons_focus_hover_color: #404bbf;
  --border_color_apps: #e7e9fc;
}

/*- style ogólne -*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main_color);
}

header {
  border-bottom: 1px solid var(--border_color);
  padding: 24px 0;
}

footer {
  background-color: var(--background_color_dark);
  display: flex;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.row_items {
  display: flex;
}

.cursor {
  cursor: pointer;
}

/*- style nagłówku -*/

.logo {
  color: var(--dark_color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.166;
  text-align: center;
  margin-right: 76px;
}

.second_color_logo {
  color: var(--purple_color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
}

.navigate {
  display: flex;
  margin-right: 332px;
  align-items: center;
}

.list_navigate {
  align-items: center;
  display: flex;
  gap: 40px;
  list-style: none;
}

.navigate_list_item {
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--dark_color);
}

.navigate_list_item:focus {
  color: var(--purple_color);
}

.navigate_list_item:hover {
  color: var(--purple_color);
}

.list_contacts {
  display: flex;
  gap: 40px;
  align-items: center;
  list-style: none;
  font-style: normal;
}

.contacts_item {
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark_color);
}

.contacts_item:focus {
  color: var(--purple_color);
}

.contacts_item:hover {
  color: var(--purple_color);
}
/*- stylizacja stopki -*/
.logo_footer {
  display: inline-block;
  margin-bottom: 16px;
}

.space_footer {
  padding: 100px 0;
}

.light_color_logo {
  color: var(--color_light_blue);
}

.text_footer {
  width: 264px;
  color: var(--color_light_blue);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-right: 120px;
}

.header_footer_sm {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--white_color);
}

.footer_social_media {
  display: flex;
  list-style: none;
  gap: 16px;
}

.li_social_media_footer {
  padding: 8px;
  align-items: center;
  background-color: var(--purple_color);
  fill: var(--color_light_blue);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.li_social_media_footer:hover {
  background-color: var(--purple_color);
  fill: var(--color_light_blue);
}

.li_social_media_footer:focus {
  background-color: var(--purple_color);
  fill: var(--color_light_blue);
}

/*- stylizacja nagłówków sekcji -*/

.heading {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/*- sekcja zamówienia -*/

.section_order_service {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background_photo.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  align-items: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main_text {
  margin-left: auto;
  margin-right: auto;
  width: 496px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: var(--white_color);
  margin-bottom: 48px;
}

.button_index {
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  background-color: var(--purple_color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--white_color);
  display: block;
}

.button_index :focus {
  background-color: var(--buttons_focus_hover_color);
}
.button_index :hover {
  background-color: var(--buttons_focus_hover_color);
}

/*- sekcja our goals -*/

.section_our_goals {
  padding-top: 120px;
  padding-bottom: 120px;
}

.second_header {
  color: var(--dark_color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

.text_our_goals {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light_gray_color);
}

.list_our_goals {
  display: flex;
  list-style: none;
  gap: 24px;
}

.list_item_our_goals {
  width: calc((100% - 72px) / 4);
}

.icons_our_goals {
  padding: 24px 100px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--background_color_light_blue);
}

/*- sekcja what are w doing -*/

.section_what_are_we_doing {
  padding-bottom: 120px;
  background-color: var(--background_color_white);
}

.list_what_are_we_doing {
  display: flex;
  gap: 24px;
  list-style: none;
}
.list_item_what_are_we_doing {
  width: calc((100% - 48px) / 3);
}
/*- sekcja our team -*/

.section_our_team {
  background-color: var(--background_color_light_blue);
  padding-top: 120px;
  padding-bottom: 120px;
}

.list_our_team {
  gap: 24px;
  display: flex;
  list-style: none;
}

.our_team_list_item {
  width: calc((100% - 72px) / 4);
  background-color: var(--background_color_white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
}

.worker_data {
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.name {
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.profession {
  text-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--light_gray_color);
  margin-bottom: 8px;
}

.list_social_media {
  display: flex;
  list-style: none;
  gap: 24px;
}

.li_social_media {
  border-radius: 50%;
  align-items: center;
  background-color: var(--purple_color);
  padding: 12px;
  width: 40px;
  height: 40px;
  fill: var(--color_light_blue);
  margin-left: auto;
  margin-right: auto;
}

/*- stylizacja nasi klienci -*/

.section_our_customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list_our_customers {
  align-items: center;
  gap: 24px;
  display: flex;
  list-style: none;
  width: calc((100% - 120px) / 6);
}

.list_item_our_customers {
  align-items: center;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid var(--our_clients_color);
  fill: var(--our_clients_color);
}

.list_item_our_customers:hover {
  fill: var(--purple_color);
  border-color: var(--purple_color);
}

/*- stylizacje portfolio -*/

.section_portfolio {
  background-color: var(--background_color_white);
}

/*- stylizacja przycisków portfolio -*/

.list_buttons_portfolio {
  display: flex;
  list-style: none;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.buttons_portfolio {
  padding: 12px 24px;
  color: var(--purple_color);
  background-color: var(--background_buttons);
  border: 1px solid var(--border_color);
  border-radius: 4px;
  border-width: 1px;
}

.buttons_portfolio:focus {
  border: 1px solid transparent;
  background-color: var(--buttons_focus_hover_color);
  color: var(--white_color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.buttons_portfolio:hover {
  border: 1px solid transparent;
  background-color: var(--buttons_focus_hover_color);
  color: var(--white_color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*- stylizacja aplikacji portfolio -*/

.apps_portfolio {
  row-gap: 48px;
  column-gap: 24px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.section_portfolio {
  padding: 96px 0px 120px 0px;
}

.name_app {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 8px;
}

.type_app {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light_gray_color);
}

.styles_apps {
  padding: 32px 16px;
  border-right: solid 1px var(--border_color_apps);
  border-bottom: solid 1px var(--border_color_apps);
  border-left: solid 1px var(--border_color_apps);
}

.li_apps_portfolio:hover {
  background: var(--white_color);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
