/*- style koloru-*/

:root {
  --background_dark: rgba(46, 47, 66, 1);
  --background_white: rgba(255, 255, 255, 1);
  --background_light_blue: rgba(244, 244, 253, 1);
  --light_blue: rgba(244, 244, 253, 1);
  --dark: rgba(46, 47, 66, 1);
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --purple: rgba(77, 90, 229, 1);
  --light_gray: rgba(67, 68, 85, 1);
  --border: rgb(231, 233, 252);
  --our_clients: rgb(142, 143, 153);
  --background_buttons: rgb(244, 244, 253);
  --focus_hover: rgba(64, 75, 191, 1);
  --focus_hover_sm_footer: rgba(49, 208, 170, 1);
}

/*- style ogólne -*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main);
}

header {
  border-bottom: 1px solid var(--border);
  padding: 24px 0;
  position: relative;
}

footer {
  background-color: var(--background_dark);
  display: flex;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.row_items {
  display: flex;
}

.cursor {
  cursor: pointer;
}

/*- style nagłówku -*/

.logo {
  color: var(--dark);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.166;
  text-align: center;
  margin-right: 76px;
}

.second_color_logo {
  color: var(--purple);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
}

.navigate {
  display: flex;
  margin-right: 332px;
  align-items: center;
}

.list_navigate {
  align-items: center;
  display: flex;
  gap: 40px;
  list-style: none;
}

.navigate_list_item {
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--dark);
}

.navigate_list_item:focus {
  color: var(--focus_hover);
}

.navigate_list_item:hover {
  color: var(--focus_hover);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms;
}

.active_studio::after {
  content: "";
  bottom: 0;
  position: absolute;
  display: block;
  width: 48px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--focus_hover);
}

.active_portfolio::after {
  content: "";
  bottom: 0;
  position: absolute;
  display: block;
  width: 66px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--focus_hover);
}

.list_contacts {
  display: flex;
  gap: 40px;
  align-items: center;
  list-style: none;
  font-style: normal;
}

.contacts_item {
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark);
}

.contacts_item:focus {
  color: var(--purple);
}

.contacts_item:hover {
  color: var(--purple);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms;
}
/*- stylizacja stopki -*/
.logo_footer {
  display: inline-block;
  margin-bottom: 16px;
}

.space_footer {
  padding: 100px 0;
}

.light_color_logo {
  color: var(--light_blue);
}

.text_footer {
  width: 264px;
  color: var(--light_blue);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-right: 120px;
}

.header_footer_sm {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--white);
}

.footer_social_media {
  display: flex;
  list-style: none;
  gap: 16px;
}

.li_social_media_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  fill: var(--light_blue);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.li_social_media_footer:hover {
  background-color: var(--focus_hover_sm_footer);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms;
}

.li_social_media_footer:focus {
  background-color: var(--focus_hover_sm_footer);
}

/*- stylizacja nagłówków sekcji -*/

.heading {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/*- sekcja zamówienia -*/

.section_order_service {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background_photo.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  align-items: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main_text {
  margin-left: auto;
  margin-right: auto;
  width: 496px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: var(--white);
  margin-bottom: 48px;
}

.button_index {
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  background-color: var(--purple);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--white);
  display: block;
}

.button_index:focus {
  background-color: var(--focus_hover);
}
.button_index:hover {
  background-color: var(--focus_hover);
  transition: cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms;
}

/*- sekcja our goals -*/

.section_our_goals {
  padding-top: 120px;
  padding-bottom: 120px;
}

.second_header {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

.text_our_goals {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light_gray);
}

.list_our_goals {
  display: flex;
  list-style: none;
  gap: 24px;
}

.list_item_our_goals {
  width: calc((100% - 72px) / 4);
}

.icons_our_goals {
  padding: 24px 100px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--background_light_blue);
}

/*- sekcja what are w doing -*/

.section_what_are_we_doing {
  padding-bottom: 120px;
  background-color: var(--background_white);
}

.list_what_are_we_doing {
  display: flex;
  gap: 24px;
  list-style: none;
}
.list_item_what_are_we_doing {
  width: calc((100% - 48px) / 3);
}
/*- sekcja our team -*/

.section_our_team {
  background-color: var(--background_light_blue);
  padding-top: 120px;
  padding-bottom: 120px;
}

.list_our_team {
  gap: 24px;
  display: flex;
  list-style: none;
}

.our_team_list_item {
  width: calc((100% - 72px) / 4);
  background-color: var(--background_white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
}

.worker_data {
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.name {
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.profession {
  text-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--light_gray);
  margin-bottom: 8px;
}

.list_social_media {
  display: flex;
  list-style: none;
  gap: 24px;
}

.li_social_media {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  background-color: var(--purple);
  width: 40px;
  height: 40px;
  fill: var(--light_blue);
}

.li_social_media:hover {
  background-color: var(--focus_hover);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms;
}

.li_social_media:focus {
  background-color: var(--focus_hover);
}

/*- stylizacja nasi klienci -*/

.section_our_customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list_our_customers {
  align-items: center;
  gap: 24px;
  display: flex;
  list-style: none;
  width: calc((100% - 120px) / 6);
}

.list_item_our_customers {
  align-items: center;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid var(--our_clients);
  fill: var(--our_clients);
}

.list_item_our_customers:hover {
  fill: var(--focus_hover);
  border-color: var(--focus_hover);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms;
}

/*- stylizacje portfolio -*/

.section_portfolio {
  background-color: var(--background_white);
}

/*- stylizacja przycisków portfolio -*/

.list_buttons_portfolio {
  display: flex;
  list-style: none;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.buttons_portfolio {
  padding: 12px 24px;
  color: var(--purple);
  background-color: var(--background_buttons);
  border: 1px solid var(--border);
  border-radius: 4px;
  border-width: 1px;
}

.buttons_portfolio:focus {
  border: 1px solid transparent;
  background-color: var(--focus_hover);
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.buttons_portfolio:hover {
  border: 1px solid transparent;
  background-color: var(--focus_hover);
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: border background-color color 250ms;
}

/*- stylizacja aplikacji portfolio -*/

.apps_portfolio {
  row-gap: 48px;
  column-gap: 24px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.section_portfolio {
  padding: 96px 0px 120px 0px;
}

.name_app {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 8px;
}

.type_app {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light_gray);
}

.styles_apps {
  padding: 32px 16px;
  border-right: solid 1px var(--border);
  border-bottom: solid 1px var(--border);
  border-left: solid 1px var(--border);
}

.li_apps_portfolio:hover {
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms;
}
