* {
  margin: 0;
  padding: 0;
}

body {
  width: 1600px;
  font-family: Roboto, sans-serif;
  color: var(--main_color);
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.cursor {
  cursor: pointer;
}
